* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-brand {
  font-size: 2rem;
  color: black;
  font-family: "Abril Fatface", cursive;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
  font-family: "Mulish", sans-serif;
}

.nav-link:hover {
  color: black;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  border: 2px solid rgb(248, 26, 92);
  font-family: "Mulish", sans-serif;
}
.btn {
  font-family: "Mulish", sans-serif;
  background-color: rgb(0, 255, 170);
  border-radius: 40px;
  font-weight: 700;
}

.main {
  background: url(./images/fruit-lunch.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
}

.main h1 {
  font-size: 4rem;
  font-family: "Abril fatface", cursive;
  background-color: white;
}
.btn1 {
  height: 45px;
  width: 25%;
  border: none;
  outline: none;
  background-color: rgb(248, 26, 92);
  color: white;
  font-weight: 500;
  font-family: "Mulish", sans-serif;
  border-radius: 60px;
}

.row img {
  width: 35%;
}

.btn1:hover {
  background-color: red;
}
h1 {
  font-family: "Abril fatface", cursive;
  font-size: 3rem;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.29);
  transition: ease 0.5s;
}

p {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
